.bottomSheet {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background:  #7c8682;
    border-top-left-radius: 16px;
    border-top-right-radius: 30px;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    max-height: 60%; 
    overflow-x: auto;
  }
  
  .content {
    display: flex;
    flex-direction: column;
  }
  
  .content input,
  .content textarea {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    background: rgb(196, 167, 131);
    border-radius: 10px;
  }
  
  .content button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    background: rgb(196, 167, 131);
    border-radius: 10px;
  }
  